body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #10002b !important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.game-page {
   background-color: rgb(238, 238, 238);
}


.games-page-container {
  display: flex;
}

.genre-aside {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.genre-container {
  display: flex;
  justify-content: left;
}

.gamelist-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: right;
}

.details-page {
  background-color: #343a40;
  color: white;
}

.details-container {
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#gp-purchase {
  /* background-color: #161618; */
  background-image: linear-gradient(transparent, #161618 50%);
  padding: 10px 10px 17px;
}

.navBar {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  /* background-color: #3d0d6e; */
  /* opacity: 0.5; */
  background: rgba(61, 13, 110, 0);
  color: white;
  /* background-color: rgba(24, 23, 40, 0.8); */
  /* box-shadow: 3.5px 6.1px 30px rgb(0 0 0 / 57%); */
  height: 140px;
}


.special_modal .modal-content{
  background-color: rgb(48, 43, 43);
  color: #fff;

.game-splash {
  filter:brightness(50%);
}

.single-game {
  width: 100%;
  height: 1000px;
}

.game-info {
  justify-content: right;
}

.game-description::before {
  content: open-quote;
}
.game-description::after {
  content: close-quote;
}