body {

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 }
 * {
    box-sizing: border-box;
 }
 .left {
    background-color: #3C6E71;
    color: white;
    float: left;
    width: 33%;
    color: white;
    padding: 50px;
    height: 500px;
    text-align: center;

 }

 .container:after {
    clear: both;
 }

 .orderCheckout {
    text-align: center;
 }