/* *{
    background-color: #3C6E71;
} */
.homeTitle{
    text-align: center;
    font-family: 'Megrim', cursive;
    font-weight: bolder;
    font-size: 100px;
}

.welcomeMessage {
    text-align: center;
    font-family: 'Megrim', cursive;
    font-weight: bolder;
    font-size: 30px;
}