.thankYouPage{


    /* grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; */
    margin-top: 200px;
}


 .info{ 
    /* grid-row: 1;
    grid-column: 2;  */
    border: none;
    width: 50vw;
    height: 50vh;

 
    font-family: 'Megrim', cursive;
    font-weight: bold;
 
    
}

.thankYou{
    font-size: 100px;
    font-weight: bolder;
    background: -webkit-linear-gradient(top right, #0718EB, #BA08B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* background: #0718EB;
  background: -webkit-linear-gradient(top right, #0718EB, #BA08B4);
  background: -moz-linear-gradient(top right, #0718EB, #BA08B4);
  background: linear-gradient(to bottom left, #0718EB, #BA08B4); */

.orderInfo{
    font-size: 35px;
    font-family: 'Megrim', cursive;
    font-weight: bold;
    color: white;
}

.expect{
    color: white;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    font-size: 20px;
}

.angelBoy{
    width: 800px;
    height: 600px;
}

.customerService{
    color: white;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    font-size: 20px;
}

.phoneNumber{
    margin: 20px;
    font-size: 40px;
    background: -webkit-linear-gradient(top right, #0718EB, #BA08B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}