.thankYouPage{
    display: flex;
    flex-direction: row;

    /* grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; */
    margin-top: 300px;
}

.thankYouImage{
    float: left;
    /* grid-row: 1;
    grid-column: 1; */
    height: 600px;
    width: 500px;
    margin-left: 300px;
}

 .info{ 
    /* grid-row: 1;
    grid-column: 2;  */
    border: solid #0718EB;
    width: 50vw;
    height: 50vh;
    float: right;
 
    font-family: 'Megrim', cursive;
    font-weight: bold;
    
    
}

.thankYou{
    font-size: 72px;
    font-weight: bolder;
    background: -webkit-linear-gradient(top right, #0718EB, #BA08B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* background: #0718EB;
  background: -webkit-linear-gradient(top right, #0718EB, #BA08B4);
  background: -moz-linear-gradient(top right, #0718EB, #BA08B4);
  background: linear-gradient(to bottom left, #0718EB, #BA08B4); */

.orderInfo{
    font-size: 35px;
    font-family: 'Megrim', cursive;
    font-weight: bold;
}