body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #10002b !important;
  /* background-image: url('/public/tetris.png');*/
  /* background-image: url('https://i.ibb.co/vVJB68F/tetris.png');
  background-repeat: no-repeat;   
  background-position: center bottom;   
  background-attachment: fixed;  */
  
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-page {
  background-color: #10002b;
  color: white;
}

.games-page-container {
  display: flex;
}

.genre-aside {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.genre-container {
  display: flex;
  justify-content: left;
  padding-left: 30px;
}

.gamelist-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: right;
  margin-left: 10vw;

  /* padding: 0px 30px 30px 30px; 
  display: flex;
  height: 600px; */
}

.results {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 200px;
  transition: ease-in-out 300ms;
  padding: 10px;
}
.results > * > * {
  text-align: center;
}
.results:hover {
  -webkit-box-shadow: -1px 1px 2px 4px #a100f2;
  -moz-box-shadow: -1px 1px 2px 4px #a100f2;
  box-shadow: -1px 1px 2px 4px #a100f2;
  transform: scale(1.1);
}


.details-page {
  background-color: #10002b;
  color: white;
}

.details-container {
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navBar {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  /* background-color: #3d0d6e; */
  /* opacity: 0.5; */
  background: rgba(61, 13, 110, 0);
  color: white;
  /* background-color: rgba(24, 23, 40, 0.8); */
  /* box-shadow: 3.5px 6.1px 30px rgb(0 0 0 / 57%); */
  height: 140px;
}

.special_modal .modal-content {
  background-color: rgb(48, 43, 43);
  color: #fff;
}

.game-icon:hover {
  opacity: 0.8;
}

.game-title:hover {
  color: rgb(190, 22, 154);
}
